body{
	margin: 0;
}
h1 {
    margin: 0;
}

.header{
	background-color: #1e3d87;
}
.header1{
	color: white;
	list-style: none;
	display: inline-block;
}
.header1 li{
	display: inline-block;
}
.header1 li:last-child {
	border-left:3px solid white;

	padding: 5px;
}
.dropdown {
	color: white;
	display: inline-block;
}
.dropdown-toggle{
	color: black;
	margin: 0;
}
.mdc-button{
	border-radius: 5px;
	margin: 1px;
	height: inherit;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
}
.call{
	margin-left: 143px;
}

.sign{
	background-color: #ebaf41;
	background-image: linear-gradient(#f5e67b,#e6a02a);
	margin-right:  0px;
	padding: 10px;
	margin-left: 150px;

}
.sign1{
	background-color: #ebaf41;
	background-image: linear-gradient(#f5e67b,#e6a02a);
	margin-left: -50px;
	padding: 12px;
	border-radius: 0;

}
.register{

	background-color:  #ee8551;
	background-image: linear-gradient(#ee8551,#e6573f);
	margin: 0;
	padding: 10px;
}
.sec1{
	background-color: #32468f;
	height: inherit;
}
.list1 li{
	color: white;
	display: inline-block;

}
.mdc-list-item {
	display: inline-block;
}
.mdc-top-app-bar__section{
	display: inline-block;
}
.currency{
	background-color: lightgray;
	color: black;
	margin: 10px;
	margin-top: -47px;
}
.mdc-button:not(:disabled) {
	color: white;
	color: lightgray;
}
.sec3{
	background-color: #ffffff;

}
.l1{
	margin-top: 50px;
}
/*.l2{
	margin-top: 30px;
}*/
.logo{
	width: 50%;
	height: 50%;
	margin-top: 40px;
	float: right;
}
.sec4{
	background-color: #3e8ac4;
}
.search input[type=text]{
	width: 50%;
	/*height:200px;*/
	padding: 10px;
	margin: 20px;

}
.mdc-layout-grid {
    box-sizing: border-box;
    margin: 0 ;
    padding:0;
    padding: var(0, 0);
}
.section1{
	background-image: url("../image/2.jpg");
	height: 500px;
	width: 100%;
	/*background-repeat: no-repeat;*/
	position: relative;
}
.header_bottom{
	position: absolute;
}
.summer{
	padding:  250px;
	color: white;
}
h2{
	text-align: center;
}
	/*.section1 img{
		object-fit: cover;
		height:600px; 
	}*/